body {
  margin: 0;
  font-family: 'Arial', 'Noto Sans KR', sans-serif;
  background: linear-gradient(to bottom, #FFF9EF, #EAF7FC);
  color: #333;
}

.invitation-container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px; /* 좌우 여백 */
  box-sizing: border-box;
}

.top-image {
  width: 100%;
  max-width: 360px;
  height: auto;
  display: block;
  margin: 30px auto;
  border-radius: 16px;
}

.hero {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(to bottom right,#fff, #fff);
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  margin-top: 30px;
}

.hero h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.names {
  font-size: 1.5em;
  font-weight: bold;
}

.date {
  font-size: 1.1em;
  color: #666;
}

.details, .message, .contact {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-top: 30px;
}

.details h2, .contact h2 {
  margin-top: 0;
}

.footer {
  text-align: center;
  margin-top: 40px;
  color: #aaa;
  font-size: 0.9em;
}

#daumRoughmapContainer1748937855766 {
  margin: 30px auto 0 auto; /* 위쪽 30px, 좌우 자동 중앙 */
  display: block;           /* block 요소로 만들어서 margin 적용 */
  max-width: 360px;         /* 지도의 너비와 맞추기 */
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05); /* 그림자 원하면 */
}

