body {
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', sans-serif;
  background: linear-gradient(to bottom, #FFF9EF, #EAF7FC);
  color: #333;
}

.top-image {
  width: 100%;
  max-width: 480px;
  height: auto;
  display: block;
  border-radius: 16px;
  margin: 0 auto 20px;
  margin-top: 30px;
  padding: 40px;
}

.invitation-container {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.hero {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(to bottom right,#fff, #fff);
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.hero h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.names {
  font-size: 1.5em;
  font-weight: bold;
}

.date {
  font-size: 1.1em;
  color: #666;
}

.details, .message, .contact {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.details h2, .contact h2 {
  margin-top: 0;
}

.map-link {
  display: inline-block;
  margin-top: 10px;
  color: #ff5a5f;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  text-align: center;
  margin-top: 40px;
  color: #aaa;
  font-size: 0.9em;
}
